<!DOCTYPE html>
<html>

<head>
<!-- json reader javascript -->
  <script type="text/javascript" src="../js/json_reader.js"></script>
  <link href="../www/css/progressbar.css" rel="stylesheet" >
</head>
<body>
<form >
  Goal name:<br>
  <input type="text" name="Goalname" id="goalname"><br>
  Goal Description:<br>
  <input type="text" name="Goaldescr" id="goaldescr"><br>
  Goal amount<br>
  <input type="number" name="Goalamount" id="goalamount">
  

<input type="submit" value="Submit" onclick="display()">
</form>
<div class="chart" id="graph" data-percent="90" ></div>
</body>



</html>